name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Run SUT
      # Запускаем банковский сервис в фоновом режиме (&)
      run: java -jar ./artifacts/app-card-delivery.jar &

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Run tests
      # Запускаем тесты в безголовом режиме, как просит задание
      run: ./gradlew test -Dselenide.headless=true
