name: Java CI with Gradle

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Check if JAR exists

        run: ls -R artifacts/

      - name: Start SUT

        run: java -Dfile.encoding=UTF-8 -jar ./artifacts/*.jar &

      - name: Wait for SUT
        run: sleep 20

      - name: Build with Gradle

        run: ./gradlew test -Dselenide.headless=true -Dfile.encoding=UTF-8 --info